body {
    background-color: rgb(92, 203, 255);
    

}

#name {
    font-family: 'Nunito', serif;
    color: white;
    font-size: 10vw;
    margin-bottom: -20px;
    margin-top: 20px;
}

hr {
    border: 2px rgb(0, 46, 70) solid;
    border-radius: 3px;
}

.siteInfo {
    margin-top: 15px;
}

.title {
    font-family: 'Nunito', serif;
    color: rgb(92, 203, 255);
    margin-left: 20px;
}

.category {
    font-family: 'Nunito', serif;
    color: rgb(92, 203, 255);
    font-size: 3rem;
}

.progress-bar {
    background-color: rgb(255, 40, 69);
}

.bio {
    margin-top: 20px;
    margin-right: 25px;
    font-size: 22px;
    color: rgb(0, 46, 70);
}

.section {
    
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
#profilePic {
    margin-top: 20px;
    border-radius: 5px;
    width: 500px;
    float: left;
}
.fab {
    margin: 15px;
    font-size: 50px;
    color: rgb(92, 203, 255);
}

.fab:hover {
    color: rgb(0, 156, 228);
}

.links a {
    color: white;
    font-size: 2rem;
    font-family: 'Nunito', serif;
    margin-bottom: 0;
    margin-top: 25px;
    text-align: right;
    margin-right: 25px;
}
.links:hover a:hover {
    color: rgb(172, 229, 255);
}

.sites {
    width: 100%;
    border-radius: 3px;
}