body {
    background-color: rgb(92, 203, 255);
    

}

#name {
    font-family: 'Nunito', serif;
    color: white;
    font-size: 9rem;
    margin-bottom: -20px;
    margin-top: 20px;
}

#title {
    font-family: 'Nunito', serif;
    color: rgb(92, 203, 255);
    margin-left: 20px;

}

.bio {
    margin-top: 20px;
    margin-right: 25px;
    font-size: 22px;
    color: rgb(0, 46, 70);
}

hr {
    border: 3px rgb(92, 203, 255) solid;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.section {
    margin-top: 35px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
img {
    margin-top: 20px;
    border-radius: 5px;
    width: 500px;
    float: left;
}
.fab {
    margin: 15px;
    font-size: 50px;
    color: rgb(0, 46, 70);
}

.links {
    color: white;
    font-size: 6rem;
    margin: 30px;
    font-family: "Lato", sans-serif;
    margin-left: 0;
   
}

#about:hover {
    cursor: pointer;
    text-shadow: 0 0 15px white;

    
}
#portfolio:hover {
    cursor: pointer;
    text-shadow: 0 0 15px white;
    
}
#contact:hover {
    cursor: pointer;
    text-shadow: 0 0 15px white;
    
}

.hide {
    display: none;
}